@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>劍湖山遊樂園</h1>
    <p class="lead">
        歡迎來到我們的樂園～
        請各位遊客盡情玩耍 >.<

    </p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>因為有夢。築夢成真</h2>
        <p>
            曾經，耐斯企業集團創辦人陳鏡村先生昆仲的老家--
            雲林縣古坑鄉永光村只是一處默默無聞的小農村，即使人們取道此地，
            頻頻進出草嶺，但匆匆來去，永光鄉間的青山翠谷，始終寂寂無名，
            不過就是一片乏人問津的路過景色而已。......
        </p>
        <p><a class="btn btn-default" href="http://fancyworld.janfusun.com.tw/about.aspx?DataKey=1&Title=%E4%B8%BB%E9%A1%8C%E6%A8%82%E5%9C%92%E4%BA%8B%E7%B4%80">更多關於 &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>深耕雲林。接軌國際</h2>
        <p>劍湖山世界積極因應國際觀光客與大陸人士來台質與量的觀光需求，遊樂業界第一品牌的『劍湖山世界主題樂園』，隆重推出高價值與高品質五星級的『劍湖山渡假大飯店』，以發展商務休閒、觀光旅遊與購物娛樂，深耕雲林接軌國際。</p>
        <p><a class="btn btn-default" href="http://fancyworld.janfusun.com.tw/about.aspx?DataKey=4&Title=Hato%E5%AE%B6%E6%97%8F">關於劍湖山家族 &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>關於企業</h2>
        <p>劍湖山渡假大飯店</p>
        <p><a class="btn btn-default" href="http://www.jrhotel.com.tw/">飯店詳情 &raquo;</a></p>
    </div>
</div>